# Уникальное имя контейнера
SITE_CONTAINER_NAME=mynode_app

# Имя локального образа после build (произвольно, латиница)
NODE_IMAGE_NAME=mynode_app_image

# Порт, на котором слушает Node внутри контейнера (должен совпадать с Traefik)
APP_PORT=3000

# Traefik
TRAEFIK_ROUTER=mynode
TRAEFIK_RULE=Host(`example.com`) || Host(`www.example.com`)
